<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Chats</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h3>All chats</h3>
    <form method="get" action="/chats/new">
      <button>Create a new chat</button>
      <br />
      <br />
    </form>
    <%for (let chat of chats){%>
    <div class="chat">
      <p><i><%=chat.from%></i></p>
      <div class="msg">
        <p><%=chat.msg%></p>
        <form method="get" action="/chats/<%=chat.id%>/edit">
          <button>Edit Message</button>
        </form>
      </div>
      <p><i>Received by: <%=chat.to%></i></p>
      <hr />
      <p><i><%=chat.created_at.toString().split(" ")[4]%></i></p>
      <p>
        <i><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></i>
      </p>
      <form method="post" action="/chats/<%=chat.id%>?_method=DELETE">
        <button>Delete Message</button>
      </form>
    </div>
    <br /><br />
    <%}%>
  </body>
</html>
